<a href="https://colab.research.google.com/github/teacher014/databasic/blob/main/%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC_%ED%99%9C%EC%9A%A9%ED%95%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%9C%EA%B0%81%ED%99%94_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EB%B6%80%EC%82%B0%EC%8B%9C_%EA%B5%AC%EB%B3%84_%EC%A4%91%EC%9C%84_%EC%97%B0%EB%A0%B9_%EB%B6%84%ED%8F%AC%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
from bs4 import BeautifulSoup

In [2]:
svg = open('Busan_districts.svg','r').read()

In [3]:
data = csv.reader(open('bage.csv','r'),delimiter=",")

In [4]:
age = {}
result = []

In [5]:
age['Jung-gu'] = 52
print(age)

{'Jung-gu': 52}

In [6]:
result.append(age)
print(result)

[{'Jung-gu': 52}]

In [7]:
for row in data :
    district = row[0]
    count = float(row[1])
    age[district] = count
    result.append(age)
print(age)

{'Jung-gu': 52.0, 'Seo-gu': 51.7, 'Dong-gu': 53.1, 'Yeongdo-gu': 52.7, 'Busanjin-gu': 47.1, 'Dongnae-gu': 47.1, 'Nam-gu': 47.3, 'Buk-gu': 46.8, 'Haeundae-gu': 46.5, 'Saha-gu': 47.3, 'Geumjeong-gu': 48.4, 'Gangseo-gu': 40.2, 'Yeonje-gu': 47.2, 'Suyeong-gu': 48.5, 'Sasang-gu': 48.1, 'Gijang-gun': 42.1}

In [8]:
age

{'Buk-gu': 46.8,
 'Busanjin-gu': 47.1,
 'Dong-gu': 53.1,
 'Dongnae-gu': 47.1,
 'Gangseo-gu': 40.2,
 'Geumjeong-gu': 48.4,
 'Gijang-gun': 42.1,
 'Haeundae-gu': 46.5,
 'Jung-gu': 52.0,
 'Nam-gu': 47.3,
 'Saha-gu': 47.3,
 'Sasang-gu': 48.1,
 'Seo-gu': 51.7,
 'Suyeong-gu': 48.5,
 'Yeongdo-gu': 52.7,
 'Yeonje-gu': 47.2}

In [11]:
sorted(age.items())

sorted(age.items(), key = lambda item: item[1])

[('Gangseo-gu', 40.2),
 ('Gijang-gun', 42.1),
 ('Haeundae-gu', 46.5),
 ('Buk-gu', 46.8),
 ('Busanjin-gu', 47.1),
 ('Dongnae-gu', 47.1),
 ('Yeonje-gu', 47.2),
 ('Nam-gu', 47.3),
 ('Saha-gu', 47.3),
 ('Sasang-gu', 48.1),
 ('Geumjeong-gu', 48.4),
 ('Suyeong-gu', 48.5),
 ('Seo-gu', 51.7),
 ('Jung-gu', 52.0),
 ('Yeongdo-gu', 52.7),
 ('Dong-gu', 53.1)]

In [ ]:
soup = BeautifulSoup(svg)
paths = soup.findAll('path')
print(paths)

In [16]:
#colors = ["#F1EEF6","#D4B9BA","#C994C7","#DF65B0", "#DD1C77", "#980043"]
colors = ["#ADD8E6","#00BFFF","#1E90FF","#6495ED", "#4169E1", "#4682B4"]
path_style = 'fill:'

In [17]:
for p in paths:
    if p['id']:
        count = age[p['id']]
        if count >= 48 :
            color_class = 5
        elif count >= 46:
            color_class = 4
        elif count >= 44:
            color_class = 3
        elif count >= 42:
            color_class = 2
        elif count >= 40:
            color_class = 1
        else :
            color_class = 0
        color = colors[color_class]
        p['style'] = path_style + color
print(soup.prettify())

In [18]:
# html 파일 저장
import sys
sys.stdout = open('busanm1.html','w')
 
print(soup.prettify())